<div class="container topmargin">
      <h1 class="text-center underline pb-4">TimeWeb</h1>
      <div class="content-holder pb-5">
            <a><img class="profileimgleft pr-2"src="assets/img/profile.png"></a>
            <h1>Lorem Ipsum</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="content-holder pb-5">
            <a><img class="profileimgright pl-2" src="assets/img/profile.png"></a>
            <h1>Lorem Ipsum</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="content-holder pb-5">
            <a><img class="profileimgleft pr-2" src="assets/img/profile.png"></a>
            <h1>Lorem Ipsum</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="content-holder pb-5">
            <a><img class="profileimgright pl-2" src="assets/img/profile.png"></a>
            <h1>Lorem Ipsum</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <br/>
            <div class="button-effect text-center pb-5">
            <a class="effect effect-5" href="#" title="Learn More">Saznaj Više</a>
        </div>
        <div>
            <h2 class="text-center underline pb-2">IZRADA EXPRESS WEB STRANICA</h2>
            <h4 class="text-center pb-4">fast and furious 2018</h4>
        </div>
        <br/>
            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h6>
        <br/>
        <div class="d-flex justify-content-center">
            <div class="column img__wrap">
                <img class="img__img" src="assets/img/pc.jpg" width="300px" height="180px">
                <h5 class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h5>
            </div>
            <div class="column img__wrap">
                <img class="img__img" src="assets/img/laptop.png" width="300px" height="180px">
                <h5 class="img__description">Lorem Ipsum is simply dummy text of the printing.</h5>
            </div>
            <div class="column img__wrap pb-5">
                <img class="img__img" src="assets/img/duel.jpg" width="300px" height="180px">
                <h5 class="img__description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h5>
            </div>
        </div>
        <br/>
        <br/>
        <h2 class="text-center pb-3">trebate web stranicu?</h2>
        <h3 class="text-center pb-2">na pravom ste mjestu!</h3>
        <div class="text-center pb-5">
            <a href="mailto:info@invariant.hr" class="btn info">info@invariant.hr</a>
        </div>
        <h2 class="text-center underline pb-2 topmargin">O NAMA</h2>
        <h4 class="text-center pb-5">we are so great.</h4>
        <h6 class="pb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h6>
        <div class="d-flex justify-content-center pb-3">
            <img src="assets/img/profile.png" class="img-fluid profilesmall pr-5">
            <img src="assets/img/profile.png" class="img-fluid profilesmall pr-5">
            <img src="assets/img/profile.png" class="img-fluid profilesmall pr-5">
            <img src="assets/img/profile.png" class="img-fluid profilesmall pr-5">
        </div>
        <div class="d-flex justify-content-center">
            <h4 class="profile1 pr-5">Profile 1</h4>
            <h4 class="profile2 pr-5">Profile 2</h4>
            <h4 class="profile3 pr-5">Profile 3</h4>
            <h4 class="profile4 pr-5">Profile 4</h4>
        </div>
        <div class="d-flex justify-content-center pb-5">
            <h5 class="profile1 pr-5">neki opis</h5>
            <h5 class="profile2 pr-5">neki opis</h5>
            <h5 class="profile3 pr-5">neki opis</h5>
            <h5 class="profile4 pr-5">neki opis</h5>
        </div>
        <div class="text-center topmargin">
            <h2 class="underline pb-3">KONTAKTIRAJTE NAS</h2>
            <h4 class="pb-5">otvoreni smo za prijedloge.</h4>
            <a href="mailto:info@invariant.hr" class="btn info">info@invariant.hr</a>
            <div class="pb-5"></div>
        </div>
    </div>